.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 200px;
    height: 315px; /* Set the desired height */
    padding: 0.5em;
    margin: 0.3em;
    overflow:hidden;
  }
  
  .product-card h2 {
    font-size: 1em;
    margin-bottom: 0.5em;
  }
  
  .product-card p {
    font-size: 1em;
    margin-bottom: 0.5em;
  }
  
  .product-card button {
    font-size: 0.8em;
    padding: 0.4em 0.8em;
  }
  
  .add-to-cart-button{
    /* font-size: 2px; */
    /* font-size: medium; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(106, 217, 186);
    color: black;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
  }

  .product-card button.add-to-cart-button {
    margin-right: 0.8em;
  }

  .wishlist-button{
    background-color: rgb(135, 221, 178);
    font-size: 40px;
  }
  
  .wishlist-button:hover {
    background-color: rgb(18, 137, 211);
    cursor: pointer;
  }