  ul {
    list-style: none;
  }
  .filters-container {
    width: 250px;
    float: left;
    margin-right: 20px;
  }
  
  .category-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
  }
  
  .category-list li {
    display: table-row;
  }
  
  .category-list span {
    display: table-cell;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  
  .category-list span:hover {
    background-color: #f5f5f5;
  }
  